# core packages
numpy
transformers
torch
torchmetrics
tokenizers
datasets
#ai2-tango[torch,transformers]==1.3.2
allennlp-light
wandb

# other
conllu
black
isort
psutil
scikit-learn
PyGithub
tensorboard
stanza
diaparser
