# core packages
numpy
transformers
torch
torchmetrics
tokenizers
datasets
ai2-tango[torch,wandb,transformers]>=1.3.2
allennlp-light

# other
conllu
black
isort
psutil
scikit-learn
PyGithub
tensorboard
stanza
